#poster-holder {
	position: relative;
	width: 100%;
	max-width: 100vw;
	min-width: 900px;
}

#poster-text-part-one {
	font-family: 'Interphases';
	font-size: 6.5dvh;
	font-weight: 600;
	line-height: 40%;
}

#poster-text-part-two{
	font-size: 4dvh;
	font-weight: 900;
	line-height: 40%;
	white-space: no-wrap;
	overflow: hidden;
}

#main-poster-text {
	position: absolute;
	top: 32%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: left;
	height: 33%;
}

#main-poster {
	width: 100%;
	height: auto;
	display: block;
}

#main-description-holder {
	display: flex;
	flex-direction: column;
	background-color: rgb(43, 43, 43);
	overflow: visible;
	margin: 0;
	padding: 3.5% 17% 3% 17%;
}

#main-description-text {
	color: rgb(244, 244, 244);
	font-size: 29px;
	line-height: 1.65em;
	margin: 0;
	width: 61.5vw;
	padding-bottom: 1%;
}

.learn-more-a,
.learn-more-p,
#main-learn-more-a,
#faq-learn-more-a  {
  text-decoration: none;
  color:rgb(0, 174, 243);
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.4s ease;
}

.learn-more-a:hover,
.learn-more-p:hover {
  color: rgb(170, 170, 170);
}